main{
  width: 70%;
  margin: 2% auto;
  background-color: #0077B6;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #03045E;
  border-radius: 24px 24px 0 0;
  box-shadow: 0px 0px 24px 0px #03055e1c;
  padding: 0;
}
main *{
  color: white;
}
#app-login-page-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main > div, h1, h2, h3{
  padding: 2%;
}

#mainPnaelWelcome{
  
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}

#buttons-home-page{
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  padding: 1%;
}
#buttons-home-page button{
  color: white;
  /* height: 50px; */
  padding: 2% 5%;
  width: auto;
  font-size: 1vw;
  font-weight: 500;
  background-color: #023E8A;
  border: 2px solid white;
  border-radius: 60px;
}
#buttons-home-page button:hover{
  background-color: #03045E;
  transition: 0.5s;
}
#buttons-home-page #first-homepage-btn:hover{
  transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(180deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
}
#buttons-home-page #second-homepage-btn:hover{
  transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
}

#loginAs{
  width: 100%;
}

#loginAsWorker{
  width: 100%;
}

#loginAsManager{
  width: 100%;
}
