<div id="loginDiv">
  <h3>Dodaj pracownika</h3>
  <div class="alert alert-success" role="alert" *ngIf="this.succesStateFlag == true">
    Poprawnie dodano pracownika <button (click)="this.succesStateFlag = false">X</button>
  </div>
  <form class="form-column" [formGroup]="addWorker" (ngSubmit)="SaveData()">
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="imie" formControlName="imie" placeholder="Wpisz imię" required>
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="nazwisko" formControlName="nazwisko" placeholder="Wpisz nazwisko" required>
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="haslo" formControlName="haslo" placeholder="Ustaw hasło" required>
    <button type="submit" class="btn btn-primary mb-2">Dodaj pracownika</button>
  </form>

</div>
