#messengerButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

button{
  border: 2px white solid;
  background-color: #023E8A;
}

button:hover{
  background-color: #03045E;
}

#messagesDiv{
  display: flex;
  flex-direction: column;

}

#messagesDiv h4{
  text-align: center;
}
