<div>
  <h2>Lista wiadomości</h2>

  <div id="messengerButtons">
    <button class="btn btn-primary mb-2" (click)="showOdebrane()">Odebrane</button>
    <button class="btn btn-primary mb-2" (click)="showWyslane()">Wysłane</button>
    <button class="btn btn-primary mb-2" (click)="showNapisz()">Napisz</button>
  </div>


  <div id="messagesDiv" *ngIf="showTypeStatus === 0">
    <button class="btn btn-primary mb-2" id="refresh" (click)="refreshMessages()">Odśwież</button>
    <h4>Odebrane</h4>
    <input type="text" [(ngModel)]="searchText" placeholder="Wyszukaj wiadomość" id="searchMessage"/>
    <div *ngFor="let message of messages | messageFilter: searchText" >
      <div *ngIf="message.receiverName == loggedPersonName + ' ' + loggedPersonSurname" class="messageSingle">
        <div>
          <strong>Od:</strong> {{ message.senderName }}
        </div>
        <div>
          <strong>Do:</strong> {{ message.receiverName }}
        </div>
        <div>
          <strong>Treść:</strong> {{ message.content }}
        </div>
        <button style="display: flex; flex-direction: row; align-items: center; margin-right: 10px;" (click)="deleteMessage(message.id)" type="button">Usuń <i style="display: flex; align-items: center; padding-left: 5px;" class="fi fi-rr-trash"></i></button>

        <hr>
      </div>
    </div>
  </div>
  <div id="messagesDiv" *ngIf="showTypeStatus === 1">
    <h4>Wysłane</h4>
    <button class="btn btn-primary mb-2" id="refresh" (click)="refreshMessages()">Odśwież</button>
    <input type="text" [(ngModel)]="searchText" placeholder="Wyszukaj wiadomość" id="searchMessage"/>
    <div *ngFor="let message of messages | messageFilter: searchText">
      <div *ngIf="message.senderName === loggedPersonName + ' ' + loggedPersonSurname" class="messageSingle">
        <div>
          <strong>Od:</strong> {{ message.senderName }}
        </div>
        <div>
          <strong>Do:</strong> {{ message.receiverName }}
        </div>
        <div>
          <strong>Treść:</strong> {{ message.content }}
        </div>
        <button style="display: flex; flex-direction: row; align-items: center; margin-right: 10px;" (click)="deleteMessage(message.id)" type="button">Usuń <i style="display: flex; align-items: center; padding-left: 5px;" class="fi fi-rr-trash"></i></button>

        <hr>
      </div>
    </div>
  </div>

  <div id="messagesDiv" *ngIf="showTypeStatus === 3">
    <h4>Wyślij wiadomość</h4>
    <app-message-form
    [loggedPersonId]="loggedPersonId"
    [loggedPersonName]="loggedPersonName"
    [loggedPersonSurname]="loggedPersonSurname">
  </app-message-form>
</div>


