<button (click)="test()">test</button>
<div>
  <div class="alert alert-success" role="alert" *ngIf="this.succesStateFlag == true">
    Wysłano wiadomość <button (click)="this.succesStateFlag = false">X</button>
  </div>
  <form id="sendMessageform" class="form-column" (ngSubmit)="sendMessage()" #messageForm="ngForm">
    <select class="form-control select-arrow" name="selectedWorker" [(ngModel)]="fullName" required>
      <option value="" disabled selected>&#9660; Wybierz pracownika</option>
      <option *ngFor="let worker of allData" [ngValue]="worker.imie + ' ' + worker.nazwisko">{{ worker.imie }} {{ worker.nazwisko }}</option>
      <option *ngFor="let manager of allManagers" [ngValue]="manager.imie + ' ' + manager.nazwisko">{{ manager.imie }} {{ manager.nazwisko }}</option>
    </select>
    <textarea id="content" name="content" [(ngModel)]="content" required placeholder="Tutaj wpisz wiadomość"></textarea>
    <button class="btn btn-primary mb-2" type="submit">Wyślij</button>
  </form>
</div>
