<div id="loginDiv" *ngIf='loginStatus == false'>
  <h3>Zaloguj się jako manager</h3>
  <form class="form-column">
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName1" placeholder="Jan">
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Kowalski">
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputPassword" placeholder="Hasło">
    <!-- <div class="form-check mb-2 mr-sm-2">
      <input class="form-check-input" type="checkbox" id="inlineFormCheck">
      <label class="form-check-label" for="inlineFormCheck">Remember me</label>
    </div> -->
    <!-- <button type="submit" class="btn btn-primary mb-2">Zaloguj</button> -->
    <!-- Poniżej button testowy - tylko do sprawdzania funkcji -->
    <button (click)="zalogowano()" class="btn btn-primary mb-2">Zaloguj</button>
  </form>
</div>
<hr>
<div id="manager-panel" *ngIf='loginStatus == true'>
  <h2>Panel zarządzania</h2>
  <div id="managerMenu">
    <button id="showWorkerListStatus" (click)="changeOutPutActiveList('0')" type="button" class="btn btn-primary mb-2">Wyświetl listę pracowników</button>
    <button id="showAddWorkerStatus" (click)="changeOutPutActiveList('1')" type="button" class="btn btn-primary mb-2">Dodaj Pracownika</button>
    <button id="showCalencdarStatus" (click)="changeOutPutActiveList('2')" type="button" class="btn btn-primary mb-2">Przejdź do kalendarza</button>

    <button id="wylogowano" (click)="wyglogowano()" type="button" class="btn btn-primary mb-2">Wyloguj</button>
  </div>
  <div id="managerPanelOutput">
    <app-list-workers id="showWorkerListStatus" *ngIf='outPutActiveList[0] == true'></app-list-workers>
    <div id="showAddWorkerStatus" *ngIf='outPutActiveList[1] == true'><app-add-worker></app-add-worker></div>
    <div id="showCalencdarStatus" *ngIf='outPutActiveList[2] == true'>showCalencdarStatus</div>
  </div>

</div>
