<div id="loginDiv" *ngIf='loginStatus == false'>
  <h3>Zaloguj się jako manager</h3>

  <form class="form-column" [formGroup]="loginAsManager" (ngSubmit)="loginAsManagerFunc()">
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="imie" formControlName="imie" placeholder="Wpisz imię" required>
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="nazwisko" formControlName="nazwisko" placeholder="Wpisz nazwisko" required>
    <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" name="haslo" formControlName="haslo" placeholder="Wpisz hasło" required>
    <button type="submit" class="btn btn-primary mb-2">Zaloguj się</button>
  </form>
</div>

<div id="manager-panel" *ngIf='loginStatus == true'>
  <hr>
  <h2>Panel zarządzania - {{loggedManagerInfo}}</h2>
  <div id="managerMenu">
    <button id="showWorkerListStatus" (click)="changeOutPutActiveList('0')" type="button" class="btn btn-primary mb-2">Wyświetl listę pracowników</button>
    <button id="showAddWorkerStatus" (click)="changeOutPutActiveList('1')" type="button" class="btn btn-primary mb-2">Dodaj Pracownika</button>
    <button id="showCalencdarStatus" (click)="changeOutPutActiveList('2')" type="button" class="btn btn-primary mb-2">Przejdź do kalendarza</button>

    <button id="wylogowano" (click)="wyglogowano()" type="button" class="btn btn-primary mb-2">Wyloguj</button>
  </div>
  <div id="managerPanelOutput">
    <app-list-workers id="showWorkerListStatus" *ngIf='outPutActiveList[0] == true'></app-list-workers>
    <div id="showAddWorkerStatus" *ngIf='outPutActiveList[1] == true'><app-add-worker></app-add-worker></div>
    <div id="showCalencdarStatus" *ngIf='outPutActiveList[2] == true'>showCalencdarStatus</div>
  </div>

</div>
