<table class="table table-striped" style="width: 100%; margin: 0 auto;">
  <thead>
    <tr>
      <th scope="col">Numer</th>
      <th scope="col">Data</th>
      <th scope="col">Pracownicy</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of shiftList">
      <th scope="row">{{item.Id}}</th>
      <td>{{item.Date | date:'medium'}}</td>
      <td>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading{{item.Id}}">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">Lista pracowników</button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <p *ngFor="let worker of item.Workers"> {{worker.Imie}} {{worker.Nazwisko}}</p>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
