<div id="WorkersListDiv">
  <h3>Lista pracowników:</h3>
  <table class="table table-striped" style="width: 100%; margin: 0 auto;">
    <thead>
      <tr>
        <th scope="col">Numer</th>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Operacja</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of workerData">
        <th scope="row">{{item.id}}</th>
        <td>{{item.imie}}</td>
        <td>{{item.nazwisko}}</td>
        <td style="display: flex; flex-direction: row; align-items: center;"><button style="display: flex; flex-direction: row; align-items: center; margin-right: 10px;" (click)="deleteWorker(item.id)" type="button">Usuń z listy <i style="display: flex; align-items: center; padding-left: 5px;" class="fi fi-rr-trash"></i></button>  <button type="button">Edytuj</button></td>
      </tr>
    </tbody>
  </table>
</div>
