/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

*{
  font-family: 'Roboto', sans-serif;
}

#loginDiv{
  width: 40%;
  margin: 0 auto 0 auto;
}

#editWorkerPopUp{
  position: absolute;
  top: 27%;
  left: 29%;
  right: 29%;
  background-color: white;
  padding: 2%;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 0px 0px 39px 12px rgba(41, 76, 171, 1);
  color: black;
}

#editWorkerPopUp  #popUpSubmit{
  color: white;
  padding: 2% 5%;
  width: auto;
  font-size: 1rem;
  font-weight: 500;
  background-color: #023E8A;
  border: 2px solid white;
  border-radius: 60px;
}

#popUpSubmit{
  color: white;
  padding: 2% 5%;
  width: auto;
  font-size: 1rem;
  font-weight: 500;
  background-color: #023E8A;
  border: 2px solid white;
  border-radius: 60px;
}

#editWorkerPopUp button{
  background-color: darkgray;
  margin-top: 1rem;
}

input.ng-valid.ng-dirty.ng-touched {
  color: black;
}

.error {
  color: red;
}

#WorkersListDiv{
  margin-bottom: 2%;
}

#manager-panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2% auto 2% auto;
}

hr{
  width: 100%;
  height: 3px;
  background-color: white;
  opacity: 1;
}
#managerMenu{
  display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: 1% auto;
    flex-wrap: wrap;
    gap: 20px;
}

.table td, .table th {
  vertical-align: middle!important;
}

div#flush-collapseTwo * {
  color: black!important;
  font-size: 1rem;
  text-align: left;
  padding-left: 1rem;
}

#managerPanelOutput{
  width: 100%;
  margin: 0 auto;
  padding: 2%;
}

main{
  width: 100%;
  margin: 0% auto;
  background-color: #365486;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  min-height: 100vh;
}

main *{
  color: white;
}

main p{
  font-size: 1.4rem;
}

#app-login-page-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h1{
  width: 100%;
  text-align: center;
  border: 2px white solid;
  border-bottom: solid;
  border-top: none;
  border-radius: 0% 0 50% 50%;
  padding-bottom: 2rem;
  background-color: #233a61;
  box-shadow: 0px 0px 24px 0px rgba(66, 68, 90, 1);

}

main > div, h1, h2, h3{
  padding: 2%;
}

#mainPnaelWelcome{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

}

#buttons-home-page{
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1%;
  gap: 20px;
}

#buttons-home-page button{
  color: white;
  padding: 2% 5%;
  width: auto;
  font-size: 1rem;
  font-weight: 500;
  background-color: #023E8A;
  border: 2px solid white;
  border-radius: 60px;
}

#buttons-home-page button:hover{
  background-color: #0F1035;
  transition: 0.5s;
}

#buttons-home-page #first-homepage-btn:hover{
  transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(180deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
}

#buttons-home-page #second-homepage-btn:hover{
  transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
}

#loginAs{
  width: 100%;
  padding-top: 0%!important;
  text-align: center;
  margin: 0 auto;
}

#loginAsWorker{
  width: 100%;
}

#loginAsManager{
  width: 100%;
}

#workerNameDiv{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

button#wylogowano {
  height: 20%;
  background-color: gray;
  border: 2px solid white;
}

#managerMenu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: 1% auto;
  gap: 20px;
}



#managerPanelOutput{
  width: 100%;
  margin: 0 auto;
  padding: 2%;
}

div#managerMenu button {
  background-color: #023E8A;
  border: 2px solid white;
  border-radius: 60px;
  padding: 1% 4%;
}


div#managerMenu button:hover {
  background-color: #0F1035;
  border: 2px solid white;
  border-radius: 60px;
  padding: 1% 4%;
}

button.accordion-button.collapsed:hover {
  background: #365486;
  color: white;
}

#refresh{
  position: absolute;
  left: 4%;
}


#sendMessageform{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 20px;
  margin: 0 auto;
  color: black;
}

#sendMessageform option, optgroup{
  color: black;
}

#content{
  width: 100%;
  padding: 5px;
  border-radius: 11px;
}

button{
  border: 2px white solid;
  background-color: #023E8A;
}

button:hover{
  background-color: #0F1035;
}

#messengerButtons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}



#messagesDiv{
  display: flex;
  flex-direction: column;
  margin: 2rem 0;

}

#messagesDiv h4{
  text-align: center;
}

#messagesDiv {
  text-align: left;
}

#addShiftForm{
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 10px;
}



.messageSingle{
  margin-left: 0.3rem;
}

.messageSingle hr{
  margin-left: -0.3rem!important;
}

.messageSingle button{
  margin-top: 0.6rem;
}

.messageSingle input{
  width: 30%!important;
  margin-bottom: 2rem!important;
}

#searchMessage{
  width: 30%!important;
  margin-bottom: 1rem!important;
  margin-top: 1rem;
}

#WorkersListDiv > table > tbody > tr > td:nth-child(4) {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#editWorkerPopUp h3{
  color: black;
}

option{
  color: black;
}

input[type="submit"]{
  background-color: #023E8A;
  border: 2px solid white;
  border-radius: 60px;
  padding: 1% 4%;
}

textarea#content{
  color: black;
}
